In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tqdm

In [32]:
# Load data
df = pd.read_csv("filtered_data.csv")
print(df.shape)
df

:

:

In [ ]:
sample_df = df.iloc[50000:60000]

In [ ]:
sample_df

In [24]:
df

      Unnamed: 0  station_id     month   element       day     value
year
1962    194212.0    194212.0  194212.0  194212.0  194212.0  194212.0
1963    199310.0    199310.0  199310.0  199310.0  199310.0  199310.0
1964    195178.0    195178.0  195178.0  195178.0  195178.0  195178.0
1965    194117.0    194117.0  194117.0  194117.0  194117.0  194117.0
1966    198027.0    198027.0  198027.0  198027.0  198027.0  198027.0
1967    192538.0    192538.0  192538.0  192538.0  192538.0  192538.0
1968    189994.0    189994.0  189994.0  189994.0  189994.0  189994.0
1969    193825.0    193825.0  193825.0  193825.0  193825.0  193825.0
1985    191159.0    191159.0  191159.0  191159.0  191159.0  191159.0
1986    193652.0    193652.0  193652.0  193652.0  193652.0  193652.0
1987    195413.0    195413.0  195413.0  195413.0  195413.0  195413.0
1988    196131.0    196131.0  196131.0  196131.0  196131.0  196131.0
1989    193964.0    193964.0  193964.0  193964.0  193964.0  193964.0
1990    198563.0    198563.0  198563.0  198563.0  198563.0  198563.0
1991    193144.0    193144.0  193144.0  193144.0  193144.0  193144.0
1992    190817.0    190817.0  190817.0  190817.0  190817.0  190817.0
1993    191100.0    191100.0  191100.0  191100.0  191100.0  191100.0
1994    188187.0    188187.0  188187.0  188187.0  188187.0  188187.0
1995    188833.0    188833.0  188833.0  188833.0  188833.0  188833.0
1996    196209.0    196209.0  196209.0  196209.0  196209.0  196209.0
1997    197748.0    197748.0  197748.0  197748.0  197748.0  197748.0
2010    239678.0    239678.0  239678.0  239678.0  239678.0  239678.0
2011    223791.0    223791.0  223791.0  223791.0  223791.0  223791.0
2012    216093.0    216093.0  216093.0  216093.0  216093.0  216093.0
2013    207076.0    207076.0  207076.0  207076.0  207076.0  207076.0
2014    201465.0    201465.0  201465.0  201465.0  201465.0  201465.0
2015    199533.0    199533.0  199533.0  199533.0  199533.0  199533.0
2016    195295.0    195295.0  195295.0  195295.0  195295.0  195295.0

Things to analyze

* We can do a two-sample t-test between yearly difference in temperature and yearly difference in precipitation. That way we can see that if difference in temperature increases, whether or not difference in precipitation increases by chance. --> Do this for every climate indicator, not just precipitation
* Question: do we really need to use the differences between values, or can we just use the values themselves?
* Look into ozone depletion and CFCs getting banned in 1970s?