In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tqdm

In [4]:
# Load data
df = pd.read_csv("filtered_data.csv")
print(df.shape)
df

(18322712, 7)

          Unnamed: 0   station_id  year  month element  day  value
0                  0  AGM00060490  1957      1    TMAX    1    178
1                  1  AGM00060490  1957      1    TMAX    2    150
2                  2  AGM00060490  1957      1    TMAX    3    161
3                  3  AGM00060490  1957      1    TMAX    4    172
4                  4  AGM00060490  1957      1    TMAX    5    172
...              ...          ...   ...    ...     ...  ...    ...
18322707       15215  ZA000067753  1990     11    PRCP   26      0
18322708       15216  ZA000067753  1990     11    PRCP   27      0
18322709       15217  ZA000067753  1990     11    PRCP   28      0
18322710       15218  ZA000067753  1990     11    PRCP   29      0
18322711       15219  ZA000067753  1990     11    PRCP   30    660

[18322712 rows x 7 columns]

In [5]:
sample_df = df.iloc[50000:60000]

In [6]:
sample_df

       Unnamed: 0   station_id  year  month element  day  value
50000       21189  AJ000037639  1983      4    PRCP   17      0
50001       21190  AJ000037639  1983      4    PRCP   18      0
50002       21191  AJ000037639  1983      4    PRCP   19     38
50003       21192  AJ000037639  1983      4    PRCP   20      0
50004       21193  AJ000037639  1983      4    PRCP   21      0
...           ...          ...   ...    ...     ...  ...    ...
59995       11536  AM000037686  1910      6    TMIN    5     84
59996       11537  AM000037686  1910      6    TMIN    6     97
59997       11538  AM000037686  1910      6    TMIN    7     58
59998       11539  AM000037686  1910      6    TMIN    8     75
59999       11540  AM000037686  1910      6    TMIN    9    122

[10000 rows x 7 columns]

In [7]:
df

          Unnamed: 0   station_id  year  month element  day  value
0                  0  AGM00060490  1957      1    TMAX    1    178
1                  1  AGM00060490  1957      1    TMAX    2    150
2                  2  AGM00060490  1957      1    TMAX    3    161
3                  3  AGM00060490  1957      1    TMAX    4    172
4                  4  AGM00060490  1957      1    TMAX    5    172
...              ...          ...   ...    ...     ...  ...    ...
18322707       15215  ZA000067753  1990     11    PRCP   26      0
18322708       15216  ZA000067753  1990     11    PRCP   27      0
18322709       15217  ZA000067753  1990     11    PRCP   28      0
18322710       15218  ZA000067753  1990     11    PRCP   29      0
18322711       15219  ZA000067753  1990     11    PRCP   30    660

[18322712 rows x 7 columns]

Things to analyze

* We can do a two-sample t-test between yearly difference in temperature and yearly difference in precipitation. That way we can see that if difference in temperature increases, whether or not difference in precipitation increases by chance. --> Do this for every climate indicator, not just precipitation
* Question: do we really need to use the differences between values, or can we just use the values themselves?
* Look into ozone depletion and CFCs getting banned in 1970s?